.selectors-container {
    background: #f8b898;
    margin-bottom: 1rem;
    font-size: 0;
}

.selectors-container .col {
    font-size: 1.2rem;
    width: calc(50% - 1em);
    padding: 0.5em;
    display: inline-block;
}

.selectors-container select {
    width: 100%;
    font-size: 16px; /* prevent page zoom in iOS */
}

@media (max-width: 768px) {
    .selectors-container .col {
        display: block;
        width: calc(100% - 1em);
    }
}

.highlight-row-30 table>tbody>tr:nth-last-child(-n+30) {
    background-color: skyblue;
}


.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f7a881; /* Choose your own color here */
}

.group {
  display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 2px;
    border: 2px solid black;
}
