.selectors-container {
    background: #f8b898;
    margin-bottom: 1rem;
    font-size: 0;
}

.selectors-container .col {
    font-size: 1.2rem;
    width: calc(50% - 1em);
    padding: 0.5em;
    display: inline-block;
}

.selectors-container select {
    width: 100%;
    font-size: 16px; /* prevent page zoom in iOS */
}

@media (max-width: 768px) {
    .selectors-container .col {
        display: block;
        width: calc(100% - 1em);
    }
}

.highlight-row-30 table>tbody>tr:nth-last-child(-n+30) {
    background-color: skyblue;
}


.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f7a881; /* Choose your own color here */
}

.group {
  display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 2px;

}
.container>.a:not(:last-child) {
 margin-right: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #96b5b1;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #f7a881;
}

.topnav{
 text-align: center;
 color:#f7a881;
 padding: 20px 20px 20px 20px;

 font-size: 6vw;
 font: italic bold 50px/50px Georgia, serif;
}

.body {
  background-image: url("gradientcolor.jpg");
  background-color: #cccccc;
}

.gradient-box {

  display: flex;
  align-items: center;
  //width: 50vw;
  width: 90%;
  margin: auto;
  max-width: 22em;

  position: relative;
  padding: 30% 2em;
  box-sizing: border-box;

  $border: 5px;
  color: #FFF;
  background: #000;
  background-clip: padding-box; /* !importanté */
  border: solid $border transparent; /* !importanté */
  border-radius: 1em;

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(to right, red, orange);
  }
}